<section class="section">
    <h1 class="title">
    Social Reconstruction of Character Relationships in Feature Films: A Graph Analytic Model
    </h1>
    <h3 class="authors">
        Chi-Hsuan Huang, Kun-Ta Chuang
    </h3>
</section>

<section class="section">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
        <div class="row">
            <%= render 'layouts/sidebar' %>
            <div id="show">
            </div>
        </div>
    </div>
</section>

