<header>
<nav class="navbar navbar-default rp-navbar" role="navigation">
<div class="container">
    <div class="collapse navbar-collapse" id="rp-navbar-collapse">
         <a class="navbar-brand" href="#">Social Graph in the Movies</a>
        <ul class="nav navbar-nav rp-site-nav-list">
            <form class="form-inline">
                <div class="form-group">
                    <select onchange="updateGraph(this)">
                        <option value="movie1">Everybody's Fine</option>
                        <option value="movie2">My Sister's Keeper</option>
                        <option value="movie3">The Bind Side</option>
                    </select>
                 </div>
            </form>
        </ul>
    </div>
</div>
</nav>
</header>
